.form {
    width: 400px;
    border: 1px solid #f00a0a;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-title {
    margin: 8px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #f00a0a;
  margin: 4px 0;
}

.input-text {
    background-color: rgb(229, 229, 229);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 4px;
    height: 24px;
}

.submit-btn {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f00a0a;
    border: 0px;
    border-radius: 4px;
    padding: 8px;
    max-width: 120px;
}

.red-text {
    color: #f00a0a;
}