* {
    padding: 0;
    margin: 0;
}

.scaled {
    background-color: aqua;
}


.active {
    background-color: red;
    color: antiquewhite;
}

/* .original {
    text-transform: none;
} */

.changed {
    text-transform: uppercase;
}

.invisible {
    visibility: hidden;
}

