* {
    margin: 0;
    padding: 0;
}

.parent {
    /* border: 1px solid #f30000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100vw - 2px);
    height: calc(100vh - 2px);
}

.row {
    /* border: 1px solid #55d102; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.child {
    background-color: aqua;
    width: 50px;
    height: 50px;  
}

.top > .child:first-child{
    background-color: red;
}
.top > .child:last-child{
    background-color: green;
}
.bottom > .child:first-child{
    background-color: blue;
}
.bottom > .child:last-child{
    background-color: yellow;
}
