* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 54px;
    background-color: #323232;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.header_text {
    color: #FFFFFF;
    margin-right: 40px;
    font-family: "Inter";
    font-weight: 600;
    /* font-style: Semi Bold; */
    font-size: 13.83px;
    /* leading-trim: NONE; */
    line-height: 22.5px;
    letter-spacing: 1.3px;
    text-align: right;
    /* vertical-align: middle; */
    text-transform: uppercase;
}

.header_button {
    background-color: #FF3C00;
    color: #FFFFFF;
    border: none;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    font-family: "Inter";
    font-weight: 600;
    /* font-style: Semi Bold; */
    font-size: 13.83px;
    /* leading-trim: NONE; */
    line-height: 22.5px;
    letter-spacing: 1.3px;
    /* text-align: center;
    vertical-align: middle; */
    text-transform: uppercase;
}

.screen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/section1background.png');
    height: calc(100vh - 54px);
    background-size: cover;
}

.screen1_content {
    max-width: 1296px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.screen1_h1 {
    font-family: "Inter";
    font-weight: 900;
    font-style: #212529;
    font-size: 77.19px;
    /* leading-trim: NONE; */
    line-height: 80px;
    letter-spacing: 0%;
    /* vertical-align: middle; */
    text-transform: uppercase;
}

.screen1_horizontal {
    display: flex;
    justify-content: space-between;
}

.screen1_vertical {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.screen1_description {
    font-family: "Inter";
    /* font-weight: 500; */
    font-style: Medium;
    font-size: 20.13px;
    /* leading-trim: NONE; */
    line-height: 33.6px;
    letter-spacing: 0;
    vertical-align: middle;
    /* TODO: change on 900px after adding font inter */
    max-width: 815px; 
}

.screen1_button {
    background-color: #323232;
    color: #FFFFFF;
    height: 66px;
    width: 218px;
    cursor: pointer;
    margin-top: auto;
    /* border none */
    border: none;  
}

/* .screen1_logo {

} */

.screen2  {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
}

.screen2_h2  {
display: flex;
justify-content: center;
background-color: #FFFFFF;
padding-top: 256px;
padding-bottom: 8px;
font-family: Inter;
font-weight: 900;
color: #212529;
font-size: 58.83px;
/* leading-trim: NONE; */
line-height: 60px;
letter-spacing: 0%;
/* text-align: center;
vertical-align: middle; */
text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 52px;
    padding-top: 80px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 138px;
}

.screen2_image  {
    height: 442px;
    width: 380px;
}

.invisible1 {
    height: 75px;
}

.invisible2 {
    height: 150px;
}

.screen2_name {
    font-family: Inter;
    font-weight: 900;
    color: #212529;
    font-size: 31.13px;
    /* leading-trim: NONE; */
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 20px;
}

.screen2_description1 {
   font-family: Inter;
   color: #212529;
   font-weight: 500;
   font-style: Medium;
   font-size: 21.56px;
   /* leading-trim: NONE; */
   line-height: 31.2px;
   letter-spacing: 0%;
   text-align: center;
   vertical-align: middle;
   padding-bottom: 4px;
}

.screen2_description2 {
    font-family: Inter;
    color: #FF3C00;
    font-weight: 500;
    font-style: Medium;
    font-size: 21.56px;
    /* leading-trim: NONE; */
    line-height: 31.2px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 56px;
}

.screen2_button {
    color: #212529;
    background: none;
    border: none;
    border-bottom: #212529 1px solid;
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 14.41px;
    /* leading-trim: NONE; */
    line-height: 22.5px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    /* text-decoration-offset: 0%; */
    text-decoration-thickness: 0%;
    cursor: pointer;
}

