* {
    margin: 0;
    padding: 0;
}

.parent {

    position: relative;

    top: 30px;

    left: 30px;

    width: 300px;

    height: 300px;

    background-color: rgb(27, 220, 1);

}

.child-1 {

    position: absolute;

    top: 50px;

    left: 50px;

    width: 50px;

    height: 50px;

    background-color: rgb(0, 0, 0);

    border-radius: 15px;

}

.child-2 {

    position: absolute;

    top: 75px;

    left: 200px;

    width: 50px;

    height: 50px;

    background-color: rgb(0, 0, 0);

    border-radius: 15px;

}

.child-3 {

    position: absolute;

    top: 300px;

    left: 150px;

    width: 50px;

    height: 50px;

    background-color: red;

}