* {
    padding: 0;
    margin: 0;
}

.big-letter {
    font-size: 30px;
}

p {
    color: red;
}

#main {
    background-color: gray;
}

.element.par {
    background-color: aqua;
}

.super {
    color: aqua;
    background-color: bisque;
}