.parent {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}

.child {
    background-color: red;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.one {
    /* flex-grow: 2; */
    flex-basis: 150px;
    flex-shrink: 1;
    background-color: rgb(176, 10, 176);
}

.two {
    /* flex-grow: 1; */
     flex-basis: 150px;
     flex-shrink: 1;
     background-color: rgb(3, 221, 28);
}

.three {
    /* flex-grow: 3; */
     flex-basis: 600px;
     flex-shrink: 3;
     background-color: rgb(238, 223, 4);
}
